/HotelReservationSystem-ejb/nbproject/private/
/HotelReservationSystemLibrary/nbproject/private/
/HotelReservationSystemClient/nbproject/private/
/nbproject/private/
/HotelReservationSystem-ejb/build/
/HotelReservationSystemLibrary/dist/
/HotelReservationSystemLibrary/build/
/HotelReservationSystemClient/build/
/build/
/HotelReservationSystemClient/dist/
/HotelReservationSystem-ejb/dist/
