/HotelReservationSystem-ejb/nbproject/private/
/HotelReservationSystemLibrary/nbproject/private/
/HotelReservationSystemClient/nbproject/private/
/nbproject/private/
/build/
/dist/
/HotelReservationSystemClient/build/
/HotelReservationSystemClient/dist/
/HotelReservationSystemLibrary/dist/
/HotelReservationSystemLibrary/build/
/HotelReservationSystem-ejb/build/
/HotelReservationSystem-ejb/dist/
/HotelReservationManagementClient/nbproject/private/
/HotelReservationSystemManagementClient/nbproject/private/
/HotelReservationSystemReservationClient/nbproject/private/
/HotelReservationSystemManagementClient/dist/
/HotelReservationSystemManagementClient/build/
/HotelReservationSystemReservationClient/build/
/HotelReservationSystemReservationClient/dist/
/HolidayReservationSystemJavaSeClient/nbproject/private/
